* {
    box-sizing: border-box;
}

body{
	display:flex;
	flex-direction: column;
	text-align:center;
	justify-content:center;
	background-color: pink;

}
h3{
	color:purple;
	font-family: 'Montserrat', sans-serif;
	margin-right:120px;

}
.btn{
	width:90px;
	height:90px;
	cursor: pointer;
    font-size: 1.5rem;
    color:white;
    background-color: purple;
    display:block;
    margin-left:550px;
}
#container{
	display:flex;
	
	width:100%;
}

.noteArea{
	background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 200px;
    width: 400px;
}
.noteArea .toolsdiv {
    background-color: purple;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.noteArea .toolsdiv button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.noteArea .saved-text-area {
    background-color: #eee;
    overflow: hidden;
    height: 400px;
    width: 100%;
    color:purple;
    font-family: 'Montserrat', sans-serif;

}

.noteArea textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    color:purple;
}

.noteArea .hidden {
    display: none;
}



   